<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>


    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dataTables.css') }}">
    <link rel="stylesheet" href="{{ asset('css/ardi.css') }}">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
<h1>Welcome, {{ user.name }}</h1>
<div class="itemlist-table">
    <h2><strong>Product List</strong></h2>
    <table id="dataTable-item-list"  class="custom-item-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
        </thead>
    </table>
</div>

<div class="information-tab">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#createHistory" aria-controls="createHistory" role="tab" data-toggle="tab">Create</a></li>
        <li role="presentation"><a href="#viewHistory" aria-controls="viewHistory" role="tab" data-toggle="tab">View</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="createHistory">
            <form class="form-horizontal create-form">
                <div class="form-group">
                    <label for="itemName" class="col-sm-2 control-label">Item Name</label>
                    <div class="col-sm-10">
                        <select id="cboItem" name="cboItem">
                            {% for item in items %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="quantity" class="col-sm-2 control-label">Quantity</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputQuantity" placeholder="">
                    </div>
                </div>
                <button class="submit">Submit</button>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="viewHistory">
            <table id="dataTable-list-stock" class="custom-item-table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                    <th>Action</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

</div>
</body>

<script src="{{ asset("js/jquery-1.12.min.js") }}"></script>
<script src="{{ asset("js/bootstrap.min.js") }}"></script>
<script src="{{ asset("js/dataTables.min.js") }}"></script>

<script>
    $(document).ready(function(){
        $('#dataTable').DataTable({
            "sDom": 't<"bottom"i><"display-block"p>'
        });


        $('#view-table').DataTable({
            "sDom": 't<"bottom"i><"display-block"p>'
        });


            var eg = $('#dataTable-list-stock').dataTable({
                bPaginate: false,
                serverSide: true,
                processing: true,
                ajax: {
                    url: "/api/stock_transaction/list",
                    type: "GET"
                },
                columns: [
                    {
                        data: function (data) {
                            return data.id;
                        }
                    },
                    {
                        data: function(data) {
                            return data.item.name;
                        }
                    },
                    {
                        data: function(data) {
                            return data.quantity;
                        }
                    },
                    {
                        data: function(data) {
                            return data.item_price;
                        }
                    },
                    {
                        data: function(data) {
                            return data.subtotal_price;
                        }
                    },
                    {
                        data: function(data){
                            return '<button>Delete</button>'
                        }
                    }
                ]
            });





        var dg = $('#dataTable-item-list').dataTable({
            serverSide: true,
            processing: true,
            bPaginate: false,
            ajax: {
                url: "/api/items/list",
                type: "GET"
            },
            columns: [
                {
                    data: function (data) {
                        return data.name;
                    }
                },
                {
                    data: function(data) {
                        return data.price;
                    }
                }
            ]
        });

        $(".submit").click(function () {
            /*alert($('#cboItem').val());
            alert($('#inputQuantity').val());*/
            $.ajax({
                type:'POST',
                url: '/api/stock_transaction',
                data: {'item_id': $('#cboItem').val(), 'quantity': $('#inputQuantity').val()},
                success: function(response) {
                    //console.log(response);
                    return false;
                }
            });
            //$('#dataTable-list-stock').ajax.reload();
            /*$('#dataTable-list-stock').dataTable.fnClearTable();
            $('#dataTable-list-stock').dataTable.fnDraw();*/
            return false;
        });
    });
</script>
</html>